body {
    margin: 0px;
    font-family: Inter;
    color: black;
}

/* @media (max-width: 600px) {
    body {
        margin: 0px;
    }
} */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    background-color: white;
    width:100%;
    height: 50px;
    /* padding-left: 10%; */
    position: fixed;
    z-index: 1;
}



.head {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:3%;
    width: 70%;
}

.head-1 {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    font-size: small;
    /* width: 500px; */
}

.register-now {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 140px;
    height: 35px;
    background-color: #4CAF4F;
    border-color: #4CAF4F;
    border-radius: 3px;
    color: #fff;
}

@media (max-width: 700px) {
    .header {
        /* flex-wrap: wrap; */
        padding: 0vw 2.5vw 0vw 2.5vw;
        width: 95vw;
        /* justify-content: center;  */
        /* margin-bottom: -200px; */
    }
    
    .loggo {
        width:120%;
    }

    .head {
        width: 100%;
        /* gap: 26%; */
        /* padding-right: 5px; */
    }

    .head-1 {
        /* gap: 10%; */
        /* width: 0%; */
        opacity: 0;
        position: absolute;
        /* top: 30px; */
        /* z-index: -2; */
    }
        .register-now {
            gap: 10px;
            width: 120px;
            height:30px;
            font-size: 12px;
        }
}

.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 5% 100px 10%;
    background-color: #F5F7FA;
    height: auto;
    gap: 10%;
}



.section-1-1-1 {
    font-weight: bold;
    font-size: 40px;
}

.green {
    color: #4CAF4F;
}

.section-1-1-2 {
    margin-top: 10px;
}

.register {
    margin: 40px 0px 20px 0px;
    width: 100px;
    height: 35px;
    background-color: #4CAF4F;
    border-color: #4CAF4F;
    border-radius: 3px;
    color: #fff;
}

@media (max-width: 700px) {
    .section-1 {
        flex-wrap: wrap;
    }

    .section-1-1-1 {
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
    }
}

.section-2-1 {
    text-align: center;
}

.our-clients {
    font-weight: bold;
    font-size: 30px;
    padding-top: 30px ;
}

.section-2-1-text {
    /* font-weight: lighter; */
    padding: 10px 10px 0px 10px;
}

.section-2-2 {
    display: flex;
    justify-content: space-between;
    padding: 45px 5% 55px 10%;
}

.section-3-1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-3-1-1 {
    font-weight: bold;
    font-size: 30px;
    width: 430px;
}

@media (max-width: 430px) {
    .section-3-1-1 {
        width: 100%;
    }
}

.section-3-1-2 {
    /* font-weight: lighter; */
    margin-top: 7px;
}

.section-3-2 {
    display: flex;
    justify-content: space-between;
    row-gap: 50px;
    padding: 50px 5% 50px 10%;
}

.section-3-2-0 {
    text-align: center;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .3px solid rgb(248, 248, 248);
    border-radius: 10px;
    box-shadow: .5px .5px rgb(239, 239, 239);
    padding: 20px 10px 20px 10px;
}

.section-3-2-text {
    font-weight: bold;
    font-size: 22px;
    width: 150px;
    padding: 10px 0px 20px 0px;
}


@media (max-width: 850px) {
    .section-3-2 {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 100px;
    }
}

.section-4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px 10% 70px 10%;
    gap: 40px;
}

.s-4-text-head {
    font-size: 25px;
    font-weight: 600;
}

.s-4-text-body {
    padding-top: 30px;
}

.learn-more {
    margin: 40px 0px 20px 0px;
    width: 100px;
    height: 35px;
    background-color: #4CAF4F;
    border-color: #4CAF4F;
    border-radius: 3px;
    color: #fff;
}


.frame-35 {
    height: 250px;
}

@media (max-width: 720px) {
    .section-4 {
        flex-wrap: wrap;
    }
}

.section-5 {
    background-color: #F5F7FA; 
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding: 30px 5% 30px 10%;
    height: 100%;
}



.section-5-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 400px;
    height:130px;
    column-gap: 50px;
    background-color: red;
}

.component {
    display: flex;
    gap: 10px;
    align-items: center;
}

.numbers {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
}

.numbers-below {
    font-size: 10px;
}

.icon-1 {
    height: 25px;
    width: 40px;
}

.icon-2 {
    height: 45px;
}

.icon-3 {
    height: 40px;
}

.icon-4 {
    height: 40px;
}

.s-5-1 {
    font-size: 25px;
    font-weight: bold;
}

.s-5-2 {
    font-size: 25px;
    font-weight: bold;
    color: #4CAF4F;
}

.s-5-3 {
    font-size: 10px;
}

@media (max-width: 920px) {
    .section-5 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-5-1 {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .se-5-1 {
        display: flex;
        justify-content: center;
        gap: 5px;
    }


    .section-5-2 {
        /* padding-left: 15%; */
        width: 80%;
        height: 180px;
    }
}

@media (max-width: 785px){
    .section-5-2 {
            /* padding-left: 7.5%;
            padding-right: 5%; */
        }
}

@media (max-width: 650px){
    .section-5-2 {
            /* padding-left: 0%; */
            /* padding-right: 10%; */
        }
}

@media (max-width: 600px){
    /* body {
        width: 100%;
    } */
    
    .se-5-1 {
        flex-wrap: wrap;
    }
    .s-5-2 {
        margin-bottom: 8px;
        margin-top: -25px;
    }

    .numbers {
        font-size: 15px;
    }

    .section-5 {
        padding-left: 0%;
        padding-right: 0%;
    }
}

.section-6 {
    display: flex;
    align-items: center;
    padding: 70px 10% 70px 10%;
    gap: 40px;
}


.s-6-2 {
    width: 65.5%;
}

.s-6-2-1 {
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 30px;
}

@media (max-width: 850px) {
    .section-6 {
        flex-wrap: wrap;
        justify-content: center;
        /* justify-content: center; */
    }
        .s-6-2 {
            width: 100%;
        }
}

.section-7 {
    display: flex;
    align-items: center;
    /* background-color: blue; */
    padding: 70px 10% 70px 10%;
    gap: 40px;
    background-color: #F5F7FA;
}

.s-7 {
    /* width: 30%; */
    /* background-color: red; */
    height: 100%;
}

.s-7-2 {
    width: 70%;
}

.Tim {
    font-weight: bold;
    font-size: 20px;
    padding: 20px 0px 10px 0px;
    color: #4CAF4F;
}

.dragon {
    color: #89939E;
}

.section-7-2-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    padding-top: 30px;
}

.meet-all {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #4CAF4F;
    font-weight: bold;
}

@media (max-width: 720px) {
    .section-7 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .s-7-2 {
        width: 100%;
    }
}


.section-9 {
    padding: 70px 10% 70px 10%;
}

.s-9-head {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.s-9-body {
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
}

.s-9-body-text {
   width: 500px;
   text-align: center;
    padding: 10px 0px 20px 0px;
}

.container-9 {
    display: flex;
    gap: 15px;
    justify-content: center;
}


.container-9 > div {
    position: relative;
    height: 240px;
    /* background-color: red; */
    /* padding: 14px; */
}


.container-9>div>img {
    width: 100%;
}

.container-9 > div >  div {
    border-radius: 10px;
    /* box-shadow: .5px .5px; */
    background-color: #F5F7FA;
    /* width: 90%; */
    gap: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0%;
    left: 4%;
    right: 4%;
    padding: 14px 0px 14px 0px;
    /* height: 120px; */
}

/* .revamp {
    height: 85px;
} */

.container-text {
    text-align: center;
    font-weight: bold;
    width: 200px;
    color: #717171;
    font-size: 14px;
}



.revamp-text {
    width: 180px;
}

.readmore {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #4CAF4F;
    font-weight: bold;
    font-size: 14px;
}

@media (max-width: 880px) {
    .container-9 {
        flex-wrap: wrap;
        justify-content: center;
        gap: 70px;
    }

    .container-9 > div {
        height: fit-content;
    }

        .container-9>div>div {
            left: 15%;
            right: 15%;
            bottom: -10%;
        }
}

@media (min-width: 1200px) {

    .container-9>div {
            height: fit-content;
        }

.container-9>div>div {
        left: 14%;
        right: 14%;
        bottom: -10%;
    }}

.section-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #F5F7FA;
    padding: 35px 0px 30px 0px;
}

.Pellentesque {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.footer {
    background-color: #263238;;
    color: #F5F7FA;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    padding: 70px 12% 70px 12%;
}







.copyright {
    /* align-self: center; */
    padding: 30px 0px 30px 0px;
    font-size: 13px;
    width: 65%;
    /* background-color: red; */
}

@media (max-width: 920px) {
    .footer-1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
    }

    .copyright {
        font-size: 16px;
        text-align: center;
    }
}
@media (max-width: 750px) {

    .up-to-date {
        width: 100%;
        /* background-color: green; */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }
}


.footer-logo {
     width: 160px;
     /* background-color: green; */
}

.footer > div > p {
    padding-bottom: 7px;
    font-size: 13px;
}

.footer-head {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.email {
    background-color: transparent;
    color: #fff;
    height: 35px;
    width: 100%;
    border: .1px solid black;
    border: none;
    outline: none;
}

::placeholder {
    color: #D9DBE1;
}

.e-mail {
    border: none;
    background-color: #626262;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    display: flex;
    align-items: center;
    width: 200px;
}

