body {
    font-family: Poppins;
}

.wrapper {
    position: relative;
}

.black-back {
    background: linear-gradient(219.84deg, #474747 4.14%, #222222 44.22%);
    position: relative;
    padding-bottom: 150px;
    /* z-index: -1; */
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 5% 5% 0% 5%;
    align-items: baseline;
    /* width: 100%; */
}

.butt-project {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.butt {
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: #fff;
    /* align-self: center; */
    font-weight: 700;
}

.white-font {
    color: white;
}

.gen {
    font-weight: 500;
}


.project {
    color: #0A72AD;
    font-size: 24px;
}

.about {
    padding-right: 3%;
}

.heading {
    font-size: 64px;
}

.we-provide {
    width: 50%;
    padding: 0% 5% 5% 5%;
    /* z-index: -1; */
}

.more-than-100 {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 50px;
}

.discover {
    background: linear-gradient(97.65deg, #60BBEE 0.33%, #0A72AD 93.35%);
    box-shadow: 0px 10px 15px 0px #01739933;
    width: 196px;
    height: 64px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    border: none;
}


.head-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    padding-left: 5%;
    /* margin-top: -171px; */
    /* z-index: 1; */
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}


/* @media (max-width: 1500px) {
    .head-foot {

    }
} */

.head-nums {
    display: flex;
    gap: 15%;
    width: 100%;
    align-self: top;
    /* background-color: red; */
    /* padding-top: -100%; */
    margin-top: -36px;
}

.head-num {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}

.h-num {
    display: flex;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: -45px;
    /* background-color: blue; */
    height: fit-content;
}

.hp {
    color: #C4C4C4;
    width: 50%;
}


.head-plus {
    color: #2387C0;
    /* background-color: red; */
}

.head-blue-foot {
    display: flex;
    background: linear-gradient(97.73deg, #399FD8 -6.96%, #0775B4 23.5%, #003756 92.79%);
    /* gap: 10%; */
    justify-content: space-between;
    align-items: center;
    padding: 0% 3% 0% 3%;
}

/* @media */

.head-foot-general {
    font-size: 18px;
    font-weight: 500;
    /* line-height: 40px; */
    /* padding-bottom: 10px; */
}

.head-foot-project {
    font-size: 24px;
    font-weight: 600;
    /* margin-bottom: 40px; */
    /* line-height: 0px; */
}

.flex {
    display: flex;
    gap: 4px;
    align-items: center;
    height: 60px;
    margin-bottom: -25px;
}

.head-foot-25 {
    font-size: 36px;
    font-weight: 700;
}

/* .years {} */

.vec-1 {
    position: relative;
    top: -15px;
    right: 5px;
}

.head-foot-operated {
    font-size: 24px;
    font-weight: 600;
}

.trusted-gen {
    width: 40%;
    /* background-color: red; */
}

.house {
    position: absolute;
    /* z-index: 0; */
    right: 0;
    bottom: 0;
    width: 45%;
    max-width: 550px;
    /* height: 0%; */
}

@media (max-width: 1500px) {
    .black-back {
        padding-bottom: 250px;    
    }

    .head-foot {
        flex-wrap: wrap;
        /* gap: 50%; */
    }

    .head-blue-foot {
        width: 100%;
        gap: auto;
    }

    .head-nums {
        width: 40%;
    }
}

@media (max-width: 900px){
    .mob{
        display: none;
    }

    .heading {
        font-size: 300%;
        /* width: 30%; */
    }
}

@media (max-width: 700px){
    .black-back {
        padding-bottom: 300px;
    }

    .heading {
        margin-top: 60px;
        text-align: center;
    }

    .house {
        display: none;
    }

    .head-nums {
        gap: unset;
        justify-content: space-between;
        width: 100%;
        /* background-color: gray; */
        /* margin-top: 0px; */
    }

    .we-provide {
        width: auto;
    }
}

@media (max-width: 400px) {
    .black-back {
        padding-bottom: 350px;
    }

    .trusted-gen{
        width: auto;
        text-align: center;
    }

    .head-blue-foot {
        flex-wrap: wrap;
    }
}

.section-2 {
    display: flex;
    justify-content: space-between;
    padding: 5% 5% 0% 5%;
    column-gap: 30px;
}

@media (max-width: 1000px){
    .section-2 {
        display: grid;
        /* grid-template-areas: 
        " one two three"
        "four four five"; */
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
    }

   
    .two {
        /* margin-top: 0px; */
    }
}

@media (max-width: 700px){
    .section-2 {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

.section-3 {
    background-color: #F6F6F6CC;
    padding: 5% 5% 0% 5%;
}

.s-3-top-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* column-gap: 100px; */
    /* flex-wrap: wrap; */
    
}

.excel-services {
    font-size: 46px;
    font-weight: 600;
    line-height: 69px;
    /* letter-spacing: 0em; */
    /* text-align: left; */
    width: 40%;
    color: #242527;
}

.check-out {
    width: 50%;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #C4C4C4;
}

.s-3-pics {
    display: flex;
    /* width: fit-content; */
    justify-content: space-between;
}

.s-3-piks {
    width: 30%;
}

.s-3-pic {
    width: 100%;
}

.pic-head {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    color: #242527;
}

.sub-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #C4C4C4;
}

@media (max-width: 900px){
    .s-3-top-text {
        display: flex;
        flex-direction: column;
    }

    .excel-services {
        width: auto;
        /* background-color: green; */
        /* margin: 0 auto; */
    }

    .check-out {
        width: auto;
        margin-bottom: 50px;
    }
}

@media (max-width: 800px) {
    .s-3-pics {
        flex-direction: column;
        gap: 2em;
    }

    .s-3-piks {
        width: auto;
    }
}

.section-4 {
    padding: 5% 5% 0% 5%;
}

.rectangle {
    background: linear-gradient(90deg, #60BBEE -2.22%, #2387C0 67.22%);
    width: 90px;
    height: 9px;
}

.s-4-pics {
    flex-wrap: wrap;
    gap: 50px;
    /* justify-content: ; */
}

.s-4-piks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 22%;
}

.s-4-pic {
    background-color: #2387C0;
    padding: 15px;
    /* box-shadow: 10px 10px 10px 10px #2387C04D; */
    /* border: 10px solid #2387C0; */
    overflow: visible;
    /* margin: ; */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 2409px;
    left: 762px;
}

.pic-back {
    background-color: #2387C04D;
    padding: 10px 10px 6px 10px;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    text-align: center;
}

@media (max-width: 1425px) {
    .s-4-piks {
        width: 25%;
    }
}

@media (max-width: 1100px) {
    .s-4-piks {
        width: 40%;
        /* background-color: red; */
    }
}

@media (max-width: 900px) {
    .s-4-pics {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .s-4-piks {
        width: 70%;
        /* background-color: blue; */
        align-items: center;
        text-align: center;
    }

    .sub {
        margin-top: -5px;
    }
}

.section-5 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 5% 5% 0% 5%;
    column-gap: 200px;
}

.pics-div {
    position: relative;
    width: 600px;
    /* padding: 0;
    margin: 0; */
    /* background-color: red; */
}

.scraper {
    width: 600px;
}

.profile {
    background: linear-gradient(219.84deg, #474747 4.14%, #222222 44.22%);
    box-shadow: 0px 10px 15px 0px #9797971F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    width: 274px;
    height: 290px;
    position: absolute;
    bottom: 190px;
    right: -127px;
    /* position: relative; */
    /* bottom: 590px; */
    /* top: 23%; */
    /* margin: 23% 0% 10% 0%; */
    /* right: -450px; */
    /* padding: 25px 30px 25px 30px; */


    /* margin-left: 445px; */
    /* position: absolute; */
    /* bottom: 200px; */

}

.woman {
    width: 100px;
    height: 100px;
}

.diane-russell {
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 0px;
}

.more-than-20 {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    width: 200px;
    padding-top: -10px;
}

.text-div {
    width: 40%;
}

.meet {
    font-size: 46px;
    font-weight: 600;
    line-height: 69px;
    /* width: 40%; */
    color: #242527;
}

.all-teams {
    /* width: 50%; */
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #C4C4C4;
}

.buttons {
    display:flex;
    gap: 20px;
    align-items: center;
}

.how {
    display: flex;
    gap: 10px;
    /* height: 50px;
    width: 140px; */
    align-items: center;
}

.how-it-works {
    text-decoration: none;
    color: #242527;
    font-weight: 600;
    font-size: 18px;
}

.arrow {
    width: 18px;
}

.see-all-team {
        background-color: #0A72AD;
        box-shadow: 0px 10px 15px 0px #01739933;
        width: 181px;
        height: 64px;
        font-weight: 600;
        font-size: 16px;
        /* padding: 20px 40px 20px 40px; */
        color: white;
        border: none;
}

@media (max-width: 1200px) {
    .section-5 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 100px;
        /* background-color: blue; */
        /* padding: 0; */
    }

    .pics-div{
        /* width: 60%; */
        /* background-color: red; */
        margin-bottom: -160px;
    }

    .text-div {
        width: 50%;
        /* flex-direction: column;
        justify-content: flex-end; */
        justify-self: flex-end;
        padding-bottom: 50px;
        /* background-color: red; */
        /* display: flex; */
        /* justify-content: flex-end;
        width: 100%;*/
        /* background-color: red;  */
    }
}

@media (max-width: 900px) {
    .pics-div {
        /* width: 80%; */
        margin-top: 50px;
        margin-bottom: -150px;
        /* justify-self: flex-end; */
        /* grid-area: 1/1/2/2; */
        /* background-color: blue; */
    }

    .text-div {
        width: 100%;
        /* grid-area: 1/1/2/2; */
    }
}

@media (max-width: 850px){
    .scraper {
        width: 100%;
        /* background-color: blue; */
    }

    .pics-div {
        width: 100%;
    }

    .profile {
        /* border-radius: 50%; */
        top: 6px;
        right: 19.5px;
        height: 50%;
        max-height: 270px;
        min-height: auto;
        width: 50%;
        max-width: 250px;
        min-width: 245px;
        padding: 25px;
    }
}

@media (max-width: 650px){
.pics-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    height: fit-content;
    margin-bottom: -60%;
}

    .profile {
        /* background: red; */
        position: static;
        border-radius: 50%;
        /* min */
    /* margin-bottom: -200px; */

    }
}

.section-6 {
    display: flex;
    justify-content: space-between;
    padding: 5% 5% 0% 5%;
}

.s-6-text-div {
    width: 45%;
}

.another-building {
    width: 45%;
}

@media (max-width: 1200px){
    /* .section-6 {
    flex-wrap: wrap-reverse;
    }

    .s-6-text-div {
        width: auto;
    }

    .another-building {
        width: auto;
    } */

    .section-6 {
    /* flex-wrap: wrap-reverse; */
    display: grid;
    }

    .s-6-text-div {
        width: 50%;
        justify-self: flex-end;
        /* grid-area: 1/1/2/2; */
    }

    .another-building {
        width: auto;
        grid-area: 1/1/2/2;
    }
}

@media (max-width: 900px){
    .s-6-text-div {
        width: 100%;
        /* justify-self: flex-end; */
        /* grid-area: 1/1/2/2; */
    }
    
    .another-building {
        width: 100%;
        /* grid-area: 1/1/2/2; */
    }
}

.section-7 {
    padding: 5% 5% 0% 5%;
}

.head-pic {
    display: flex;
    gap: 10px;
}

.pic-date {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    row-gap: 0px;
}

.pic-num {
    font-size: 28px;
    font-weight: 600;
    color: #242527;
    /* background-color: red; */
    margin: 0;
    margin-top: 6px;
    padding: 0;
    line-height: 36px;
    height: fit-content;
}

.pic-month {
    font-size: 14px;
    font-weight: 600;
    color: #242527;
    /* background-color: blue; */
    margin: 0;
    padding: 0;
    line-height: 21px;
    height: fit-content;
}

.pic-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.sb2 {
    font-weight: 400;
}

.read-more {
    color: #0A72AD;
}

.section-8 {
    padding: 5% 5% 5% 5%;
}


.builds {
    width: 23%;
}

@media (max-width: 800px){
    
    .s-8-pics {
        /* flex-wrap: wrap;
        row-gap: 3em; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 40px;
        /* background-color: black; */
    }

    .builds {
        /* width: 45%; */
        width: 100%;
        /* background-color: red; */
        /* padding: 20px; */
    }
}

.section-10 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(219.84deg, #474747 4.14%, #222222 44.22%);;
    box-shadow: 0px 10px 15px 0px #00000014;
    padding: 5%;
    width: 80%;
    position: relative;
    left: 5%;
    top: 300px;
}

.s-10-pics {
    position: relative;
    width:fit-content;
    height: fit-content;
}

.white-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 263px;
    /* height: 171px; */
    position: absolute;
    bottom: -60px;
    right: -131.5px;
}

.quote {
    background-color: white;
    border-radius: 50%;
    padding: 31px;
    box-shadow: 0px 10px 15px 0px #2387C026;
    position: absolute;
    top: -42px;
    overflow: visible;
    /* visibility: visible; */
}

.molen {
    /* margin-top: 60px; */
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    margin: 0;
    margin-top: 40px;
    text-align: center;
}

.molen-text {
    width: 85%;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    color: #939393;
}

.s-10-text {
    width: 40%;
}

.what-we {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    color: #fff;
}

.we-are-to {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #C4C4C4;
}

.arrows {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.right-arrow {
    background-color: #0A72AD;
    /* width: 25px;
    height: 25px; */
    padding: 15px;
}



.man {
    width: 100%;
}

@media (max-width: 900px){
    .section-10 {
        flex-wrap: wrap;
        column-gap: 100px;
        row-gap: 50px;
        justify-content: start;
    }

    .s-10-pics{
        width: 100%;
    }

    .man {
        width: 40%;
    }

    .white-div {
        /* width: 243px;
        height: 151px; */
        /* bottom: -60px;
        right: -91.5px; */
        width: 40%;
        height: 75%;
        bottom: 40px;
        right: 0;
        border-radius: 50%;
        justify-content: center;
    }

    .molen-text {
        width: 55%;
        text-align: center;
    }

    .s-10-text {
        width: 100%;
    }
}

@media (max-width: 720px) {
    .white-div {
        width: 43%;
        height: 80%;
        bottom: 30px;
        /* text-align: center; */
    }
}

@media (max-width: 680px){
    .s-10-pics {
            height: 270px;
            /* padding: 20px; */
            /* background-color: red; */
            /* aspect-ratio: 1/1; */
        }

    .man {
        position: absolute;
        bottom: 0;
    }

    .white-div {
        /* bottom: -60px; */
        /* right: -131.5px; */
        border-radius: 10%;
        height: 80%;
        bottom: 0;
    }

    .molen {
        /* margin-top: -35px;
        margin-bottom: -10px; */
    }

    .molen-text {
        width: 85%;
        /* margin-top: -0px; */
    }   
}

@media (max-width: 550px){
    .man {
        /* height: 100%; */
    }

    .white-div {
        background-color: transparent;
    }

    .quote {
        padding: 10px;
        margin-top: 25px;
        /* overflow: hidden; */
        /* background-color: transparent; */
    }

    .molen {
        color: #fff;
    }
}

.footer {
    background: linear-gradient(168.84deg, #aaaaaa 4.14%, #222222 44.22%);
    box-shadow: 0px 10px 15px 0px #9797971F;
    color: white;
    display: flex;
    gap: 5% 10%;
    flex-wrap: wrap;
    row-gap: 50px;
    padding: 350px 5% 5% 5%;
}

.footer-1 {
    width:50%;
}


.google {
    width: 15px;
    border-radius: 50%;
}

.icons {
    display: flex;
    gap: 7px;
}

.icon-background {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #193241;
    display: flex;
    justify-content: center;
    align-items: center;
}


.comp-more-text {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.83px;
}

.gen-pro {
    font-weight: 600;
    line-height: 24px;
    font-family: Poppins;
}

.gen-pro-text {
    line-height: 28px;
}

.company {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.44px;
}

